@tailwind base;
@tailwind components;
@tailwind utilities;

.titleHover:hover {
    color: #007bff; /* Change to your preferred hover color */
    text-decoration: underline; /* Add underline on hover */
  }